/*
 hotelManagement/styles.css
 Created: April 4th, 2018
 Created by Wayne Warnke

 Last Edit: April 9th, 2018
 Edited by Wayne Warnke

 */
 @import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0%;
  height: 100%;
  text-align: center;
}

.title-container {
  background: #fafafa;
  height: 12%;
  position: relative;
}

.background-container {
  padding: 1%;

  background-image: url("hotel-1.jpg");
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("hotel-1.jpg");*/

  height: 48%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  height: 5%;
}

.information-container {
  padding: 1%;
  height: 34%;
  background: #fafafa;
}

h1 {
  margin: 0%;
  font-size: 3.2em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  margin: 0%;
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1em;
}

p {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
 /* STYLES FOR INDEX.PHP */
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 20% 60% 20%;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#hotelname-container {

}

#login-container {

}

#footer-container {

}

#loginForm {
  width: 50%;
  height: 56%; /* TODO: make this dynamic */
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
 /* END STYLES - INDEX.PHP */
